@tailwind base;
@tailwind components;
@tailwind utilities;


.secondary-section-bg {
  background-color: #F7F7F7;
}

.secondary-text-color {
  color: #333333;
}

.shadow-spread {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}